html {
    overflow-y: scroll;
}


body {
  margin: 0;
  font-family: arial, sans-serif;
  background: url("https://cdn.glitch.com/8c995165-2303-4457-a458-2b353ff3e9a1%2Fbg.jpg?v=1633185706738") #f2f2f2;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 520px 120px 1fr;
  grid-template-areas:
    "title title"
    "card card"
    "nope fav"
    "subtitle subtitle"
    "favourites favourites";
  height: 100vh;
}

.title {
  grid-area: title;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1px;
  margin: .5em;
  text-align: center;
  color: tomato;
}

.card {
  grid-area: card;
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  max-width: 400px;
  margin: auto;
  border-radius: 20px;
  border: 10px solid white;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

button {
  width: 70px;
  height: 70px;
  margin: 20px 5px;
  border: 8px solid white;
  border-radius: 50%;
  color: transparent;
  cursor: pointer;
  box-shadow: 0 2px 10px 5px rgba(0,0,0,0.1);
}

.nope {
  grid-area: nope;
  background: url(https://cdn.glitch.com/381dc777-702c-41b2-82aa-cac2e30d38de%2Funchecked.png?1522935023612) no-repeat center tomato;
  background-size: 20px;
  justify-self: end;
}

.nope:hover,
.remove:hover {
  background-color: #da553d;
}

.fav {
  grid-area: fav;
  background: url("https://cdn.glitch.com/381dc777-702c-41b2-82aa-cac2e30d38de%2Fchecked%20(1).png?1522935023792") no-repeat center #63dd9a;
  background-size: 26px;
}

.fav:hover {
  background-color: #51c384;
}

h2 {
  grid-area: subtitle;
  margin: 0 2rem;
  text-align: center;
  color: tomato;
}

.favourites-list {
  grid-area: favourites;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.favourites-item {
  position: relative;
  list-style: none;
  margin: 15px;
}

.favourites-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid white;
}

.remove {
  position: absolute;
  rop: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 2px solid white;
  background: url(https://cdn.glitch.com/381dc777-702c-41b2-82aa-cac2e30d38de%2Funchecked.png?1522935023612) no-repeat center tomato;
  background-size: 10px;
}

.container {
  display: contents;
}